@media print {

	html, body {
		background-color: #fff !important;
	}

	p, li {
		font-size: 12px;
		line-height: 1.4;
	}

	a {
		text-decoration: underline darkgrey solid !important
	}

	.main-wrapper .section-title .icon-holder{
		font-size: 14px;
		top: -2px;
	}

	.badge {
 		border: 1px solid #c1c1c1;
	}

	.badge-dark {
  	color: #343a40;
		background-color: #d9d9d9;
	}

	button, footer, #cv_btn {
		display: none !important
	}

	.wrapper {
		background-color: #fff !important;
		margin-top: 0px !important;
		width: 100%;
	}

	.sidebar-wrapper {
		width: 25%;
		height: 1500px;
		float: right;
	}

	.main-wrapper {
		width: 75%;
	}

	.main-wrapper section {
		margin-bottom: 30px !important
	}

	.sidebar-wrapper .container-block {
		padding-bottom: 0px !important;
	}

	.section-lang, .projects-section {
		display: none;
	}

	.main-wrapper .projects-section .item {
		margin-bottom: 0px !important;
	}

	.main-wrapper .experiences-section .item {
		margin-bottom: 0px !important;
	}

	.skillset .item {
		margin-bottom: 0px;
	}

	.main-wrapper .section-title {
		font-size: 16px !important;
		margin-bottom: 15px;
	}

	.main-wrapper .section-title .icon-holder {
		display: none;
	}

	.main-wrapper .job-title {
		font-size: 14px;
		font-weight: 400;
	}
	.skillset .level-title {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.skillset .icon {
		width: 18px;
		height: 18px;
	}
	hr {
		display: block;
	}

	.main-wrapper .company {
		color: #97AAC3;
		margin-bottom: 5px;
	}
}